{% load static %}
<!-- Send Money -->
<div class="section full mt-4">
    <div class="section-heading padding">
        <h2 class="title">Send Money</h2>
        <a href="javascript:;" class="link">Add New</a>
    </div>
    <div class="shadowfix carousel-small owl-carousel owl-theme">
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar2.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Jurrien</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar3.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Elwin</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar4.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Alma</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar5.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Justine</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar6.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Maria</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar7.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Pamela</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar8.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Neville</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar9.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Alex</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
        <!-- item -->
        <div class="item">
            <a href="#">
                <div class="user-card">
                    <img src="{% static 'bankapp/img/sample/avatar/avatar10.jpg' %}" alt="img" class="imaged w-48">
                    <strong>Stina</strong>
                </div>
            </a>
        </div>
        <!-- * item -->
    </div>
</div>
<!-- * Send Money -->