{% extends "base.html" %}
{% load static %}

{% block title %}
  Welcome to Money Pal
{% endblock title %}

{% block body-class %}
  bg-light
{% endblock body-class %}

{% block header %}
  <!-- App Header -->
  <div class="appHeader no-border transparent">
    <div class="left">
        <a href="javascript:;" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Welcome</div>
    <div class="right">
        <a href="{% url 'account_login' %}" class="headerButton">
            Skip
        </a>
    </div>
</div>
<!-- * App Header -->
{% endblock header %}

{% block body %}
    <div class="carousel-slider owl-carousel owl-theme">
        <div class="item p-2">
            <img src="{% static 'bankapp/img/sample/photo/vector1.jpg' %}" alt="alt" class="imaged w-100 square mb-4">
            <h2>Simple to Use</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="item p-2">
            <img src="{% static 'bankapp/img/sample/photo/vector2.jpg' %}" alt="alt" class="imaged w-100 square mb-4">
            <h2>Minimalist and Stylish</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="item p-2">
            <img src="{% static 'bankapp/img/sample/photo/vector3.jpg' %}" alt="alt" class="imaged w-100 square mb-4">
            <h2>Easy to Use Components</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div class="carousel-button-footer">
        <div class="row">
            <div class="col-6">
                <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-lg btn-block">Register</a>
            </div>
            <div class="col-6">
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg btn-block">Login</a>
            </div>
        </div>
    </div>
{% endblock body %}
