{% extends "base.html" %}

{% block title %}
  Change password
{% endblock title %}

{% block body-class %}
  bg-light
{% endblock body-class %}

{% block header %}
  <!-- App Header -->
  <div class="appHeader no-border">
    <div class="left">
        <a href="javascript:;" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle"></div>
    <div class="right">
    </div>
</div>
<!-- * App Header -->
{% endblock header %}

{% block body %}
<div class="section">
    <div class="splash-page mt-5 mb-5">
        <h1>{% if token_fail %}Bad Token{% else %}Change Password</h1>
        <!-- <h2 class="mb-2">Page not found!</h2> -->
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}  
            <p>
                The password reset link was invalid, possibly because it has 
                already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            </p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'change password' %}"/>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock body %}